body {
    background-color: black;
    color: white;
    font-family: "Arial";
}

.wd-nav-tabs {
    color: rgb(110, 118, 125);
    padding: 0px;
    margin: 0px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 13%;

}

.wd-nav-tabs .wd-selected {
    color: rgb(29,161,242);
    border-bottom: solid 4px rgb(29,161,242);
}

.wd-input-box {
    height: 25px;
    width: 85%;
    font-size: 1em;
}

.wd-input-box-color {
    color: white;
    background-color: darkgray;
}

.wd-gear {
    color: rgb(29,161,242);
    font-size: 2em;
}


.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-grid-row {
    clear: both;
}

.wd-padding-horizontal {
    padding-right: 15px;
    padding-left: 15px;
}

.wd-border-horizontal {
    border-left-color: rgb(47, 51, 54);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(47, 51, 54);
    border-right-style: solid;
    border-right-width: 1px;
}

.wd-border-bottom {
    border-bottom-color: rgb(47, 51, 54);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.wd-border-line {
    height: 15px;
    background-color:darkgray;
}

.wd-link-font {
    font-size: 15px;
    font-weight: bold;
}

.wd-border-radius {
    border-radius: 20px;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wd-font13 {
    color: rgb(110, 118, 125);
    font-size: 13px;
}

.wd-padding-post {
    padding-top: 10px;
    padding-bottom: 30px;
}

.wd-padding-text {
    padding-top: 3px;
    padding-bottom: 3px;
}

.wd-font15 {
    font-size: 15px;
}

.wd-font-bold {
    font-weight: bold;
}

.wd-image-size {
    height: 100px;
    width: 100px;
}

.wd-margin-right {
    margin-right: 16px;
}

.wd-white-text {
    color:white;
}

.wd-padding-vertical {
    padding-bottom: 10px;
    padding-top: 10px;
}
