body {
    background-color: black;
}

.wd-search-tuiter {
    top: 7px;
    left: 15px;
}

.wd-font8 {
    font-size: 8px;
}

.wd-tweet-size {
    min-width: 70px;
}


.wd-bg-gray {
    background-color: rgb(47, 51, 54);

}

.wd-font20 {
    font-size: 20px;
}

.wd-font15 {
    font-size: 15px;
}

.wd-border-radius {
    border-radius: 25px;
}